.produto--cadastro form{
    margin: auto;
    width: 30%;
    border: 2px solid var(--rosa);
    border-radius: 5px;
    padding: 15px;
}

.produto--cadastro .titulo{
    color: var(--rosa);
    font-weight: bolder;
    font-size: 32px;
}

.produto--cadastro .input--texto{
    background: var(--cor-fundo);
    border: none;
    border-radius: 5px;
    margin: 0;
    width: 95%;
    padding: 5px;
}

.produto--cadastro .titulo--form{
    font-size: 16px;
    margin: 5px;
}

.produto--cadastro .botao{
    background: var(--rosa);
    color: white;
    border:none;
    border-radius: 5px;

    width: 40%;
    
    margin: 20px 110px 10px 110px;
    padding: 5px;
    cursor: pointer;
}

.categoria--opcoes{
    display: flex;
}

.categoria--radio--button{
    margin-right:5px;
}